{% if form_errors(formulario) %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">X</a>
        {{ form_errors(formulario) }}
    </div>
{% endif %}

{% from 'FrontendBundle:Usuario:campo_form.html.twig' import div_fila %}

{{ div_fila(formulario.nombre, {'placeholder': 'Comenzando con mayusculas'},
            'Debe comenzar por mayusculas y contener solo letras, numero y espacios.') }}
{{ div_fila(formulario.correo) }}
{{ div_fila(formulario.passclave, {}, 'Repita las contraseñas. Deben tener mas de 7 caracteres.') }}
{{ div_fila(formulario.phone) }}
{{ div_fila(formulario.direccion, { 'rows': 5, 'cols': 26 }) }}
{{ div_fila(formulario.declaracion, { 'rows': 5, 'cols': 26 }) }}
{{ div_fila(formulario.imgavatar, {}, 'Debe ser una imagen valida(jpeg, gif o png) y no exceder de un megabyte.') }}
{{ div_fila(formulario.provincia) }}

<div class="control-group">
    <label class="control-label" for=""></label>
    <div class="controls">
        <p>
            <button class="btn btn-primary" type="submit">Registrar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-warning" />Limpiar</button>
        </p>
        <span class="help-inline"></span>
    </div>
</div>